<!-- head area with background image and gradient -->
<div tabindex="0" id="backdrop" >

  <!-- background poster -->
  <img src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{season.poster_path}}">

  <!-- title infos -->
  <div>

    <!-- show name -->
    <h1 style="font-size:3rem; font-weight:500; font-family: 'Brandon Grotesque'; letter-spacing: .07rem">
      <span tabindex="0"
      (click)="router.navigate(['/series/' + series.id])"
      (keydown.enter)="router.navigate(['/series/' + series.id])"
      >{{series.name}}</span>
      <!-- season name -->
      <h2 style="font-size:2rem; font-weight:500; font-family: 'Brandon Grotesque'; letter-spacing: .07rem">{{season.name}}</h2>
    </h1>

    <!-- season desc -->
    <div style="width:40%; font-weight:500; margin: 1rem">{{season.overview}}</div>

    <!-- season details grid -->
    <div style="width:40%; font-weight:500; place-content: center; margin: 1rem; display:grid; grid-template-columns:repeat(4,1fr); gap: 1rem; opacity: .5; font-size:smaller">
      <div><i class="material-icons-round">playlist_play</i> {{season.episodes!.length}} episodes</div>
      <div><i class="material-icons-round">podcasts</i>{{season.air_date}}</div>
      <div style="text-transform: uppercase"><i class="material-icons-round">translate</i> {{series.original_language}}</div>
      <div style="text-transform: uppercase"><i class="material-icons-round">star</i> {{series.vote_average}} / 10</div>
      <div style="grid-column-start: 1; grid-column-end: 5">{{cast}}</div>
    </div>
  </div>
</div>

<!-- episodes -->
<div id="episodesContainer">
  <div
    tabindex="0"
    *ngFor="let episode of season.episodes"
    class="episodeItem"
    (click)="router.navigate(['/series/' + series.id + '/season/' + season.season_number + '/episode/' + episode.episode_number])"
    (keydown.enter)="router.navigate(['/series/' + series.id + '/season/' + season.season_number + '/episode/' + episode.episode_number])"
  >
    <span>#{{episode.episode_number}}</span>
    <span>{{episode.name}}</span>
  </div>
</div>
