@import url('https://fonts.cdnfonts.com/css/brandon-grotesque');


* {
  font-family: "Iunito";
  font-weight: 500;
  box-sizing: border-box;
  outline: none;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

i.material-icons-round{
  vertical-align:bottom;
  font-size: 1.5em;
}
