<div id="searchSection" style="width: 100%; height: 100%; gap:5rem; position: relative;">
  <div style="color:white; text-align: center; margin:2rem; font-size:1.2rem; ">search for thousands of movies & series on tmdb.org</div>
  <input #input (input)="search(input.value)" type="text" placeholder="Search here">
  <div id="searchResults">

    <!-- all sorted cards -->
    <app-title-card [big]="true" [details]="true" *ngFor="let res of resultsAll" [title]="res"></app-title-card>

    <!-- tv cards -->
    <!-- <app-title-card [big]="true" [details]="true" *ngFor="let res of resultsTv" [title]="res"></app-title-card> -->

    <!-- movies cards -->
    <!-- <app-title-card [big]="true" [details]="true" *ngFor="let res of resultsMovie" [title]="res"></app-title-card> -->
  </div>
</div>
