<div id="backdrop" >
  <img src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}">
  <div>
    <h1 tabindex="0" style="font-size:3rem; font-weight:800; font-family: 'Brandon Grotesque'; letter-spacing: .07rem">{{movie.title}}</h1>
    <div style="width:40%; font-weight:500; margin: 1rem">{{movie.overview}}</div>
    <div style="width:40%; font-weight:500; margin: 1rem;">{{movie.runtime}} min | {{movie.release_date}}</div>
  </div>
</div>
<iframe tabindex="0"
  style="width:100%; border: none; height:50vh"
  allowfullscreen
  [src]="playerURL"
></iframe>
